body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-source-serif-4: "Source Serif 4";
    --font-poppins: Poppins;
  
    /* font sizes */
    --font-size-5xl: 24px;
    --font-size-base: 16px;
    --font-size-sm: 14px;
  
    /* Colors */
    --color-black: #000;
    --color-white: #fff;
  }
  